body {
    background: #f2f2f2;
    font-family: Arial;
    direction: rtl;
}

.container {
    width: 330px;
    margin: 70px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}